@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

#slider-range {
margin-top:1.5em;
}

#movie_player > div.ytp-chrome-bottom {
   
    height:7.5em;
}

#loopTime {
    color: rgb(160, 212, 245);
    font-family: "Roboto";
    font-size: 110%;
    outline: none;
    background: none;
    border: none;
    text-align: left;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}

.loop-sl {
    color: black;
    font-family: "Roboto", serif;
    outline: none;
    background: none;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 50%;
    height: 50px;
}
.loop-button
{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 200;
    text-align: center;
    font-size: 110%;
    background: Transparent no-repeat;
    border: none;
    position: relative;
    height: 100%;
    bottom: 40%;
    opacity: 0.8;
    outline: none;
    -webkit-animation-name: flashRed;
    -webkit-animation-duration: 2.5s;
}

.loopthis-button
{
    color: black;
    font-family: "Roboto", serif;
    font-weight: 200;
    text-align: center;
    font-size: 110%;
    background: Transparent no-repeat;
    border: none;
    position: relative;
    height: 100%;
    bottom: 40%;
    opacity: 0.8;
    outline: none;
    -webkit-animation-name: flashRed;
    -webkit-animation-duration: 2.5s;
}



.loop-button:hover
{
    opacity: 1;
}

@keyframes flashRed
{
    0%
    {
        color: red;
    }
    100%
    {
        color: white;
    }
}

#ControlContainer {
    height: 100px;
    width: 1000px;
    background: none;
    margin: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid var(--yt-spec-10-percent-layer);
    border-left: 1px solid var(--yt-spec-10-percent-layer);
    border-left: 1px solid var(--yt-spec-10-percent-layer);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAM0lEQVQoU2NkIAIwEqGGAa+i29dv/1fVVGUk3ySYCTCnkG8SumfgJqFbgawQrAifApA8AJT3EAog9b0+AAAAAElFTkSuQmCC);
}
#slider-range
{
    background-color: red;
}
#timeDisplay
{
    color: rgb(48, 162, 210);
    font-family: "Roboto";
    font-size: 200%;
    outline: none;
    background: none;
    border: none;
    text-align: left;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}

/*Logo Flip*/

#FClogo{
    height:2.25em;
    width:2.25em;
    cursor: pointer;
}

/*from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
     background-color: #fefefe;
    z-index:100;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


.rotate-scale-up {
    -webkit-animation: rotate-scale-up 0.65s linear 30s infinite both;
    animation: rotate-scale-up 0.65s linear 30s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-2 19:43:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2020-6-3 14:58:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
